.secretSanta {
  padding: 20px;
  font-family: Arial, sans-serif;

  &.darkTheme {
    background-color: #333;
    color: #fff;
  }

  &.lightTheme {
    background-color: #f9f9f9;
    color: #333;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    text-align: center;
    margin-bottom: 20px;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    &.opened {
      background-color: #e0f7fa;
    }
  }

  .cardContent,
  .placeholderContent {
    padding: 20px;
    text-align: center;
  }

  .giftTitle,
  .placeholderTitle {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .openedBy {
    font-size: 0.875rem;
    color: #666;
    margin-top: 10px;
  }

  .placeholder {
    font-size: 7rem;
    animation: bounce 1s infinite;

    @keyframes bounce {

      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }
    }
  }
}