//@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import '~office-ui-fabric-react/dist/sass/References.scss';

.dashSelector {
  color: inherit;
}

.dashChoice {
  display: table-row;
}

.dashCell {
  position: relative;
  box-sizing: border-box;
  display: table-cell;
  cursor: pointer;
  vertical-align: top;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  user-select: none;
  outline: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  text-decoration: none;
  border-radius: 0px;
  overflow: visible;
  background: transparent;
}

.svg {
  width: 100%;
  height: 20px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  box-sizing: content-box;
  line {
    stroke: $ms-color-neutralPrimary;
    stroke-width: 2;
  }
}
