@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

:export {
  padding: 20;
  minWidth: 210;
  maxWidth: 320;
  compactThreshold: 480;
  rowsPerPage: 3;
}

.gridLayout {
  overflow: hidden;
  font-size: 0;
  position: relative;
  background-color: transparent;

  :global(.ms-DocumentCard) {
    position: relative;
    background-color: $ms-color-white;
    height: 100%;

    &:global(.ms-DocumentCard--compact) {
      :global(.ms-DocumentCardPreview) {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 144px;
      }
    }

    :global(.ms-DocumentCardPreview-icon) img {
      width: 32px;
      height: 32px;
    }
  }

  :global(.ms-DocumentCard:not(.ms-DocumentCard--compact)) {
    min-width: 212px;
    max-width: 286px;

    :global(.ms-DocumentCardActivity) {
      padding-bottom: 16px;
    }

    :global(.ms-DocumentCardTile-titleArea) {
      height: 81px;
    }

    :global(.ms-DocumentCardLocation) {
      padding: 12px 16px 5px 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  :global(.ms-List-cell) {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 20px;
  }
}
