@import '../../../common/theming';

.listForm {

  .formFieldsContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-top-color: $ms-color-neutralLight;
  }

  .formButtonsContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid;
    border-top-color: $ms-color-neutralLight;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: 600;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .helperIcon {
    color: red;
  }
  
}