@import "../OneDriveTab.module.scss";

.folderCover {
  display: inline-block;
  margin: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  vertical-align: bottom;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.folderCover.isSmall_88d29bd4 {
  width: 72px;
  height: 52px;
}

.folderCover.isLarge {
  width: 112px;
  height: 80px;
}

.folderCoverBack {
  display: block;
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: -4px;

  img {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.folderCoverFront {
  display: block;
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: -4px;

  img {
    border: none;
    padding: 0;
    margin: 0;
  }
}


.folderCoverFrame {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0 1px 3px 2px rgba(1, 1, 0, 0.2);
  box-shadow: 0 1px 3px 2px rgba(1, 1, 0, 0.2);
  background-color: $ms-color-white;
  min-width: 32px;
  min-height: 32px;
}

.folderCoverContent {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
