@import '~office-ui-fabric-react/dist/sass/_References.scss';

.teamInABoxNotes {
    display: block;
}

.Notes {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: #415a82;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;        
}