@import '~@fluentui/react/dist/sass/References.scss';

.inventoryList {
  overflow: scroll;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  text-align: center;
  height: 100%;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  };

  .inventoryListView {
    overflow: scroll;
  }

  .productImageWrapper {
    text-align: center;
    width: 34px;
    height: 34px;
  }

  .productImage {
    height: 30px;
    overflow-y: hidden;
    object-fit: contain;
  }

  .sales {
    text-align: right;
    padding-right: 10pt;
  }
}
