.stack {
  display: flex;
  flex-direction: column;
  flex-wrap: 'nowrap';
  gap: 5px;
  width: auto;
}

.stackHoz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.center {
  align-items: center;
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.spaceEven {
  justify-content: space-evenly;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}