@import '~office-ui-fabric-react/dist/sass/References.scss';

.groupMembers {
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .personaCard {
      width: 250px;
      border-radius: 2px;
      padding: 4px;
  }
  .personaCard:hover {
      background-color: #f3f3f3;
  }
}
