@import "~office-ui-fabric-react/dist/sass/References.scss";

.renderMemberItem {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: "100%";
  justify-content: start;
  align-items: center;
}

.renderMemberItem:hover {
  background-color: $ms-color-neutralLight;
}

.calloutContent {
  height: 300px;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

.calloutHeader {
  padding: 10px 10px 15px 10px;
}

.membersContainer {
  max-height: 250px;
  height: 200px;
  overflow: auto;
  margin: 5px;
}

.assignsContainer {
  max-height: 250px;
  overflow: auto;
  margin: 5px;
}
