@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.teamsCreator {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .teamSection, .channelSection {
    margin-bottom: 10px;
  }

  .buttons {
    text-align: right;
    margin-top: 20px;

    .button {
      margin: 0 4px;
    }
  }

  .error {
    color: $ms-color-errorText;
  }
}