@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.personaContainer {
  display:inline-block;
margin-top: 15px;
 margin-right: 15px;
 width: 350px;
 min-width: 300;

}
.documentCard {
 border-color: $ms-color-themeDark;
 border-top-width: 5px;
 width: 100%,
}
.persona {
  padding: 15px;
}

.bottomColor {
  background-color: $ms-color-themeDark;
  height: 5px;
  margin-top: 10;
  width:  100%;
}
