@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.horizontalBarDemo {
  color: inherit;
}

:export {
  color1: #4472C4;
  color2: #ED7D31;
  color3: #A5A5A5;
  color4: #FFC000;
  color5: #5B9BD5;
  color6: #70AD47;
  color7: #264478;
  color8: #9E480E;
  color9: #636363;
  color10: #997300;
  color11: #255E91;
  color12: #43682B;
  color13: #698ED0;
  color14: #F1975A;
  color15: #B7B7B7;
  color16: #FFCD33;
  color17: #7CAFDD;
  color18: #8CC168;
  color19: #335AA1;
  color20: #D26012;
  color21: #848484;
  color22: #CC9A00;
  color23: #327DC2;
  color24: #5A8A39;
  color25: #8FAADC;
  color26: #F4B183;
  color27: #C9C9C9;
  color28: #FFD966;
  color29: #9DC3E6;
  color30: #A9D18E;
  color31: #203864;
  color32: #843C0C;
  color32: #525252;
  color33: #7F6000;
  color34: #1F4E79;
  color35: #385723;
  color36: #7C9CD6;
  color37: #F2A46F;
  color38: #C0C0C0;
  color39: #FFD34D;
  color40: #8CB9E2;
  color41: #9AC97B;
  color42: #2C4F8C;
  color43: #B85410;
  color44: #747474;
  color45: #B38600;
  color46: #2B6DA9;
  color47: #4E7932;
  color48: #A2B9E2;
  color49: #F6BE98;
  color50: #D2D2D2;
  color51: #FFDF7F;
  color52: #ADCDEA;
  color53: #B7D8A1;
}
