@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.graphEvalUrl {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

:global {
  .dbgInfo {
    background-color: whitesmoke;
    display: block;
    padding: 0.5em 0.25em;
    overflow: auto;
    box-sizing: border-box;
    min-height: 0px;
    transition: height 1s ease-in-out;
    margin-top: 1em;
  }
}
