//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.propertyPaneGroupField {
  padding-top  :  4px;
  color  :  $ms-color-neutralPrimary;
  word-wrap  :  break-word;
}
