//@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import '~office-ui-fabric-react/dist/sass/References.scss';

.comboChartDemo {
  color: inherit;
}

:export {
  border1: rgb(54, 162, 235);
  background2: rgb(255, 99, 132);
  border2: white;
  background3: rgb(75, 192, 192);
}
