@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.description {
  border: 1px solid #a6a6a6;
  padding: 10;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 300px;
  max-height: 320px;
  overflow: auto;
}

.description:hover {
  border-color: rgb(51, 51, 51);
}

.calendar {
  .container {
    max-width: 100%;
    min-height: 400px;
    height: 600px;
    margin: 0 auto;
  }

  .eventTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;

    background-color: $ms-color-themeDark;
    padding: 20px;
    border-style: solid;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
  }

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: $ms-font-size-m;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }
}
