@import "~office-ui-fabric-react/dist/sass/References.scss";

.selectPlanContainer {
  display: flex;
  align-items: center;
}

.checkListItem {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  max-width: 100%;
  margin-bottom: 0;
}

.checkListItem:hover {
  background-color: $ms-color-neutralLighter;
}
