.root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    --pnp-face-size: 28px;
}

.avatar,
.more {
    width: var(--pnp-face-size);
    height: var(--pnp-face-size);
    border-radius: 999px;
    overflow: hidden;
    border: 2px solid var(--pnp-bg);
    background: var(--pnp-surface);
    display: grid;
    place-items: center;
}

.avatar {
    margin-left: calc(var(--pnp-face-size) * -0.28);
    text-decoration: none;
    color: inherit;
}

.avatar:first-child {
    margin-left: 0;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.initials {
    font-size: calc(var(--pnp-face-size) * 0.38);
    font-weight: 700;
    color: var(--pnp-fg);
    opacity: 0.9;
}

.more {
    margin-left: calc(var(--pnp-face-size) * -0.28);
    font-size: calc(var(--pnp-face-size) * 0.34);
    font-weight: 700;
    color: var(--pnp-fg);
    opacity: 0.9;
}

.socialDivider {
    margin: 0 4px;
    color: var(--blue);
    font-weight: bold;
    padding-right: 0.125rem;
}

.name {
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.125rem;
}