@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.demoTime {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

