
@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
  max-width: 700px;
  margin: 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.row {
  padding: 5px;
}

.left {
  float: left;
  width: 80%;
}
.right {
  float: right;
  width: 20%;
  text-align: center;
}

.clear {
  clear: both;
}
