.taskcard {
    display: block;
    background-color: initial;
    .titlerow {
        .title{
            display: inline;
        }
    }
    .membersAndLabels {
        .labels,
        .priority,
        .assignedto {
            display: inline;
        }
    }
    
}
.moving{
    background-color: rgb(180, 100, 100) !important;
}