@import '~@fluentui/react/dist/sass/References.scss';

.bucket {
    width: 100%;
    // border-right: 1px solid gray;
    .headline {
        padding: 2px 10px;
        line-height: 2em;
        font-weight: 700;
        display: block;
        position: relative;
        text-align: center;
        border-bottom: 1px solid gray;
        .headlineText{
            width: calc( 100% - 10px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .colorindicator {
            width: 10px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0px;
        }
        .processIndicatorHeight {
            height: 18px;
        }
    }
    .taskArea {
        padding: 5px;
    }
    .placeholder {
        position: relative;
    }
    .taskplaceholder {
        position: relative;
        background-color: transparent;
        cursor: move;
    }
    /*
    .placeholder::after {
        content:'x';
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        background-color:blue;
    }
    */
}
