@import "~office-ui-fabric-react/dist/sass/References.scss";

.selectPlanContainer {
  display: flex;
  align-items: center;
}

.peoplePicker {
  border-style: none;
  background-color: $ms-color-neutralLighter;
}
