@import 'common.module';

.timePicker {
    .controls {
        display: flex;
        justify-content: space-between;

        :global(.ms-Dropdown-container) {
            flex: 1 40%;
            margin-right: 4px;
        }

        :global(.ms-Button) {
            flex: 1 20%;
            min-width: auto;
        }
    }
}