.divWrraper {
  border-width: 1px;
  border-color: #adadad;
  padding: 20px;
  border-style: solid;
}

.ckeckBoxInline {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  padding-left: 10px;
}

.dateRange {
  display: inline-block;
  vertical-align: top;
  padding-right: 35px;
  padding-top: 10px;
}
