
<div class="{{::vm.styles.angularTemplate}}">
  <div class="{{::vm.styles.container}}">
    <div class="ms-Grid-row ms-bgColor-themeDark ms-fontColor-white {{::vm.styles.row}}">
      <div class="ms-Grid-col ms-u-lg10 ms-u-x-18 ms-u-xlPush2 ms-u-lgPush1">
        <span class="ms-font-xl ms-fontColor-white">
          Sample SharePoint Search in Angular
        </span>
      </div>
    </div>
    <div class="ms-Grid-row ms-bgColor-themeDark mg-fontColor-white ${::vm.styles.row}">
      <div class="ms-Grid-col ms-u-lg10 ms-u-x-18 ms-u-xlPush2 ms-u-lgPush1">
        <uif-button ng-click="vm.getSearchResults()" ng-disabled="vm.searchNotConfigured">
          Refresh Search Results
        </uif-button>
      </div>
    </div>
    <div class="ms-Grid-row ms-bgColor-themeDark mg-fontColor-white ${::vm.styles.row}">
      <div class="ms-Grid-col ms-u-lg10 ms-u-x-18 ms-u-xlPush2 ms-u-lgPush1">
        <div class="ms-fontColor-white">{{vm.status}}</div>
      </div>
    </div>
    <uif-list>
      <uif-list-item ng-repeat="item in vm.items">
        <uif-list-item-primary-text>{{item.Title}}</uif-list-item-primary-text>
        <uif-list-item-secondary-text>By: {{item.Author}}</uif-list-item-secondary-text>
        <uif-list-item-tertiary-text>{{item.HitHighlightedSummary}}</uif-list-item-tertiary-text>
    </uif-list>
  </div>
</div>