@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.fileItem {
  cursor: default;
}

.folderItem {
  cursor: pointer;
}

.folderItem:hover {
  text-decoration: underline;
}

.fileTypeIcon {
  margin: 0 -2px;
  display: inline-block;
}

.fileTypeIconIcon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.detailsListHeaderFileTypeIcon {
  font-size: 16px;
  padding: 0;
}

.iconColumnHeader {
  width: 40px!important;
  margin-right: -8px;
}

.iconColumnHeader i {
  font-size:16px;
}

.fileRow {
color: inherit;
}

.folderRow {
  color: inherit;
}

.folderRow :global(.ms-DetailsRow-check) {
  visibility: hidden;
}
