// Base All
@use '00-base/index' as base;

// 01 Atoms
@use '01-atoms/index' as atoms;
// 02 Molecules
@use '02-molecules/index' as molecules;
// 03 Organisms
@use '03-organisms/index' as organisms;
// 04 TemplaTes
@use '04-templates/index' as templates;
// 05 Pages
@use '05-pages/index' as pages;


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.section-base {
    .card {
        animation: appear linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 25%;
    }
}

section:target:before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0
}

a.card-link,
a.blog-link {
    text-decoration: none
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
        animation: none !important;
        transform: none !important;
    }
}