@import '~@fluentui/react/dist/sass/References.scss';

.directory {
  .dropDownSortBy {
    margin-bottom: 15px;
  }

  .searchBox {
    width: '100%';
    margin-bottom: 25;
  }
  .noUsers {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .searchTextBox {
    min-width: 180px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: flex;
  }
}
.alphabetsContainer {
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: fit-content;
  overflow: 'hidden';
  z-index: 0;
}
