$pure-white: #{"var(--pure-white)"};
$off-white: #{"var(--off-white)"};
$warm-white: #{"var(--warm-white)"};

$warm-light-white: #{"var(--warm-light-white)"};
$mid-gray: #{"var(--mid-gray)"};
$warm-gray: #{"var(--warm-gray)"};

$light-gray: #{"var(--light-gray)"};
$cool-gray: #{"var(--cool-gray)"};
$dark-gray: #{"var(--dark-gray)"};

$light-brown: #{"var(--light-brown)"};
$brown: #{"var(--brown)"};
$dark-brown: #{"var(--dark-brown)"};

$light-yellow: #{"var(--light-yellow)"};
$yellow: #{"var(--yellow)"};
$dark-yellow: #{"var(--dark-yellow)"};

$light-orange: #{"var(--light-orange)"};
$orange: #{"var(--orange)"};
$dark-orange: #{"var(--dark-orange)"};

$light-red: #{"var(--light-red)"};
$red: #{"var(--red)"};
$dark-red: #{"var(--dark-red)"};

$light-magenta: #{"var(--light-magenta)"};
$magenta: #{"var(--magenta)"};
$dark-magenta: #{"var(--dark-magenta)"};

$light-purple: #{"var(--light-purple)"};

$purple: #{"var(--purple)"};

$dark-purple: #{"var(--dark-purple)"};

$light-blue: #{"var(--light-blue)"};

$blue: #{"var(--blue)"};

$dark-blue: #{"var(--dark-blue)"};

$light-teal: #{"var(--light-teal)"};

$teal: #{"var(--teal)"};

$dark-teal: #{"var(--dark-teal)"};

$light-green: #{"var(--light-green)"};

$green: #{"var(--green)"};

$dark-green: #{"var(--dark-green)"};

$light-black: #{"var(--light-black)"};

$black: #{"var(--black)"};

$dark-black: #{"var(--dark-black )"};

$grad-lin-1: #{"var(--grad-lin-1)"};
$grad-lin-1-ff: #{"var(--grad-lin-1-ff)"};

$grad-rad-1: #{"var(--grad-rad-1)"};

