@font-face {
    font-family: "Parker";
    font-weight: 100;

    font-display: swap;
    src: url("../fonts/pnp-pd-100.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 150;

    font-display: swap;
    src: url("../fonts/pnp-pd-150.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 250;

    font-display: swap;
    src: url("../fonts/pnp-pd-200.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 300;

    font-display: swap;
    src: url("../fonts/pnp-pd-250.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 200;

    font-display: swap;
    src: url("../fonts/pnp-pd-300.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 400;

    font-display: swap;
    src: url("../fonts/pnp-pd-400.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 600;

    font-display: swap;
    src: url("../fonts/pnp-pd-600.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/pnp-pd-700.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 800;

    font-display: swap;
    src: url("../fonts/pnp-pd-800.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: "Parker";
    font-weight: 900;

    font-display: swap;
    src: url("../fonts/pnp-pd-900.woff2") format("woff2"), local("Segoe Sans");
}

@font-face {
    font-family: 'Commodore 64 Pixelized';
    font-style: normal;
    font-weight: 400;
    src: local('Commodore 64 Pixelized'), url('https://fonts.cdnfonts.com/s/7399/Commodore Pixelized v1.2.woff') format('woff');
}