@import '~@fluentui/react/dist/sass/References.scss';

.employeeListView {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  .ecbParent {
    width: 100%;
  }
}
