@import "~office-ui-fabric-react/dist/sass/References.scss";

.mySubscriptions {
  .container {
    width: 100%;
    margin: 0px auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
  }

  .row {
    //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    //border-bottom: 1px solid #a9a9a9;
    float: left;
    display: flex;
     flex-wrap: nowrap;
    flex-direction: column;
    min-width: 176px;
    height: 100%;
    max-width: 176px;
    margin-inline-start: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(234, 234, 234) !important;
    background-color: white;
  }

  .title {
    padding: 12px;
    box-sizing: border-box;
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
      -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    color:"[theme: themePrimary]";
    height: 90px;
    font-weight: 700;
  }

  .subTitle {
    color: grey;
    text-align: center;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
      -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    color:"[theme: neutralSecondary]";
    padding: 6px;
    height: 60px;
    border-top: 1px solid;
    border-top-color:"[theme: neutralTertiaryAlt]" ;
  }

  .subscribedButton{
    background-color:"[theme:buttonBackgroundDisabled]";
    color:"[theme:neutralPrimary]"
  }
  .subscribedButtonRed{
    background-color: #e32c22;
  }
  .subscribe {
    text-align: center;
    cursor: pointer;
    padding: 6px;
  }
  
}
