.searchWp {

    &__tile {
        float: left;

        &__footer {
            padding: 8px 16px;
            margin-top: 15px;
        }

        &__footerInfoRight {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 8px 16px;
            color: #ffffff;
            background-color: "[theme: themePrimary]";

            i {
                position: relative;
                top: 2px;
            }

            span {
                padding: 5px;
            }
        }

        &__iconContainer {

            text-align: center;

            i {
                position: relative;
                font-size: 40px;
            }
        }
    }

    &__resultCard {
        margin: 10px;
    }

    &__list {
        overflow: hidden;
    }

    &__noresult {
        padding:10px;
        text-align: center;
    }

    iframe {
        border: 0;
        width: 100%;
    }

    &__filterResultBtn {
        color: "[theme: themePrimary]";
    }

    &__selectedFilters {

        padding: 10px;

        label.filter {        
            display: inline-block;         
            margin-bottom: 5px;  
        }

        label.filter~label.filter:before {
            padding: 5px;
            content: "|";
        }

        i {
            margin-right: 5px;
            vertical-align: sub;
        }

        i:hover {
            color: "[theme: themePrimary]";
            cursor: pointer;
        }
    }

    &__paginationContainer {
        text-align: center;        
        margin-top: 15px;
    
        .searchWp__paginationContainer__pagination {
            display: inline-block;
            text-align: center;

            ul {
                display: inline-block;
                padding-left: 0;
                margin: 20px 0;
                border-radius: 4px;

                li {
                    display: inline;

                    a {
                        float: left;
                        color: "[theme: themePrimary]";
                        padding: 5px 10px;
                        text-decoration: none;
                        border-radius: 15px;
        
                        i {
                            font-size: 10px;
                            color: "[theme: themePrimary]";
                        }        
                    }
        
                    a:visited {
                        color: inherit;
                    }
        
                    a.active {
                        background-color: "[theme: themePrimary]";
                        color: white;
                    }
                }
            }
        }
    }

    &__count {
        padding: 10px;
    }
}

.filterPanel {

    &__body {
        padding: 20px;
        overflow: auto;

        .header-icon {
            text-align: right;
            margin-bottom:8px;

            .ms-Icon {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.5px;

                &.ms-Icon--CalculatorSubtract, &.ms-Icon--CalculatorAddition {
                font-weight: bold;
                }
            }
        }

        &__allFiltersToggle {
            margin-bottom: 25px;
        }

        &__group {

            .ms-List-page~.ms-List-page {
                margin-top: 15px;
            }

            button {
                padding: 10px;
            }
        }
    }
}

.overlay {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}