.MessageContainer{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold !important;
    line-height: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    .errorMessage{
        color: red !important;
        padding-top: 10px !important;
        text-align: center;
      }
      .successMessage{
        color: #64BE1A !important;
        padding-top: 10px !important;
        text-align: center;
      }
      .warningMessage{
        color: #BEBB1A !important;
        padding-top: 10px !important;
        text-align: center;
      }
      .infoMessage{
        background-color: rgb(148, 210, 230) !important;
      }
}