@import "~/office-ui-fabric-react/dist/sass/Fabric.Common";

.row {
  @include ms-Grid-row;
  @include ms-bgColor-themeDark;
  @include ms-fontColor-white;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.column {
  @include ms-Grid-col;
  @include ms-u-lg10;
  @include ms-u-xl8;
  @include ms-u-lgPush1;
  @include ms-u-xlPush2;
}

.title {
  @include ms-font-xl;
  @include ms-fontColor-white;
}

.subtitle {
  @include ms-font-l;
  @include ms-fontColor-white;
}

.description {
  @include ms-font-l;
  @include ms-fontColor-white;
}

.button {
  text-decoration: none;
}
