@import '~@fluentui/react/dist/sass/References.scss';

.reactFlowDashboard {
  width: 100%;
  .notifications{
    margin: 0 0 20px 0;
  }
  .syncbtn{
    padding-left: 33em;
    padding-top: 1em;
    display : flex;
  }
  .refresh{
    padding-left: 34em;
  }
}


.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}