@import "~office-ui-fabric/dist/sass/Fabric.Common";

.todo {
  padding: 28px 40px;

  .topRow {
    position: relative;
  }

  .todoHeading {
    display: inline-block;
  }

  .todoError {
    @include ms-font-s;
    @include ms-fontColor-redDark;
    @include resetMargins;
  }

  .todoPivot {
    padding-top: 24px;

    :global li.ms-Pivot-link{
      margin-right: 28px;
    }
  }

  .todoForm {
    display: table;

    .textField {
      display: table-cell;
      width: 100%;

      input {
        height: 32px;
      }
    }
    .addButtonCell {
      display: table-cell;

      .addButton {
        margin-left: 10px;
        white-space: nowrap;
        height: 32px;
      }
    }
  }

  .todoList {
    margin-top: 20px;
    border-top: 1px lightgrey solid;

    :global .ms-Icon {
      font-family: 'sp-MDL2';
    }
    :global .ms-Icon--X {
      transform: rotate(45deg);

      &:before {
        content: "\E710";
      }
    }

    .todoItem {
      border: 1px lightgrey solid;
      border-top: none;

      .itemTaskRow {
        padding: 16px 20px 8px 20px;

        .deleteButton {
          :global .ms-Button-icon {
            float: right;
            font-size: 21px;
            padding: 4px 0 4px 0;
          }
          &:hover, &:focus {
            color: $ms-color-themePrimary;
          }
        }
        .checkbox {
          :global .ms-ChoiceField-field {
            margin: 0px;

            &:after {
              top: 6px;
            }
            &:before {
              top: 10px;
            }
          }
          :global .ms-Label {
            color: $ms-color-neutralPrimary;
            font-size: 22px;
            padding: 0 0 0 36px;
          }
        }
      }

      .itemPeopleRow {
        display: flex;
        padding: 8px 56px 16px 56px;

        :global .ms-DocumentCardActivity {
          @include ms-u-sm4;
          padding-left: 0px;

          .ms-DocumentCardActivity-details {
            left: 33px;
          }
          .ms-DocumentCardActivity-name {
            height: 15px;
          }
        }
      }

      &.isHidden {
        display: none;
      }

      &.isCompleted {
        border-top: 1px white solid;
        border-left: 1px $ms-color-neutralLighter solid;
        border-right: 1px $ms-color-neutralLighter solid;
        @include ms-bgColor-neutralLighter;
      }
    }
  }

  .workingOnItSpinner {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 33.33333%;
    line-height: 1.5em;
    padding: 0px 24px;
  }

  .fetchingTasksSpinner {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
  }

  @media only screen and (max-width:640px) {
    padding: 20px 20px;
  }
}

.propertyPaneErrorMessage {
  @include ms-font-s;
  @include ms-fontColor-redDark;
  @include resetMargins;

  padding: 20px 0;
}
