.todoForm {
    display: table;

    .textField {
      display: table-cell;
      width: 100%;

      input {
        height: 32px;
        min-width: 80px;
      }
    }
    .addButtonCell {
      display: table-cell;
      vertical-align: top;

      .addButton {
        margin-left: 10px;
        white-space: nowrap;
        height: 32px;
      }
    }
  }