/** form field styles */

@import '../../../../common/theming.module';

.formField {

    padding: 8px 3px;
    position: relative;

    .label  {
        width: 100%;
        font-family: "Segoe UI Semibold WestEuropean","Segoe UI Semibold","Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 14px;
    }

    .label:global(.is-required) {
        &::after {
            content: ' *';
            color: $ms-color-error;
        }
    }

    .controlContainerDisplay {
        display: inline-block;
        width: calc(100% - 42px);
        min-height: 20px;
        vertical-align: top;
        margin-right: 1px;
        outline: 0;
        padding: 0 0 5px;
        font-size: 14px;
        font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
        font-weight: 400;

    }

}
