//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.chartinator {
  color: inherit;
}


// .propertyPaneAddButtonWithText {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   width: 100%;
// }

// .propertyPaneAddButton {
//   text-align: left;
// }
