@import "~office-ui-fabric-react/dist/sass/References.scss";

.checkListItem {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 0;
}

.textField:hover {
  background-color: $ms-color-neutralLighter;
}
