.article article {
    box-sizing: border-box;
    padding: 1.75em 4em;
    -webkit-backdrop-filter: blur(10px) saturate(300%);
    backdrop-filter: blur(10px) saturate(300%);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.section-base.article {
    margin-top: 9vh;
}

.section-base.article h1 {

    margin-top: 0;
    color: var(--dark-blue);
        font-size: clamp(1.5rem, 3vw, 5rem);
        font-weight: 700;
}


.highlight pre {
    padding:  1rem;
}


h2 {
    font-size: clamp(1.5rem, 1.75vw, 3rem);
}

h2, h3 {
    font-weight: 600;
}

@media (max-width: 640px) {
    .article article {
        width:fit-content;
font-size:1rem;
padding:1rem;
    }
}

.spfx-webparts .tagline {
    font-size: clamp(1.25rem, 1vw, 2.75rem);
}

.spfx-webparts .tagline p,
.spfx-webparts .tagline p+p {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
}

.spfx-webparts.hero-main {
    min-height: unset;
    margin-top: unset;
}

.spfx-webparts .hero-main-inner {
    padding-top: 1vw;
    padding-bottom: 1vw;
    gap: 2vw;
}