.md-logo{
    width: 80px;
}
.md-logo img {
    width: 100% !important;
    height: auto !important;
    margin-top: -0.25em;
}
.md-header-nav__topic {
    margin-left: -16px;
}

[data-md-color-primary=pnp] .md-header, [data-md-color-primary=pnp] .md-hero {
    background-color: #2673ba;
}

.md-tabs {
    width: 100%;
    -webkit-transition: background .25s;
    transition: background .25s;
    background-color: #2673ba;
    color: #fff;
    overflow: auto;
}