@use '../00-base/designtoken.vars' as dt;

.section-inner {
    max-width: 1920px;
    margin: auto;
}

.section-grid {
    display: grid;
    max-width: 1680px;
    padding: 0;
    margin: auto auto;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr min-content;
    gap: clamp(2rem, 4vw, 5rem);

    transition: all .125s ease-in-out;

    list-style-type: none;
    @media screen and (max-width: 1680px) {
        margin-inline: 4vw;
    }
    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.section-header {
    max-width: 1680px;

    margin-block: 8vh;
    margin-block: 8svh;
    margin-inline: auto;

    h1 {
        margin-top: 2vw;
        margin-bottom: .25em;

        grid-column: 1 / span 2;

        font-size: clamp(1.5rem, 3vw, 5rem);
        font-weight: 700;
        text-align: center;

        color: dt.$dark-blue;

        @media screen and (max-width: 1024px) {
            grid-column: 1 / span 1;

            font-size: clamp(1.25rem, 3vw, 5rem);
        }
    }

    p {
        font-size: clamp(1rem, 2vw, 5rem);
        text-align: center;
    }
}

.section-base {
    min-height: 80vh;

    background-image: url(../images/side-bg-right.webp), url(../images/side-bg-left.webp);

    background-repeat: no-repeat;

    background-position: right top, left top;

    @media screen and (max-width: 720px) {
        background-position: right top, left bottom;
    }
    &.event{

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

    }

    &.team {
        margin-top: 20vh;
        margin-bottom: 25vh;

        .section-grid {
            @media screen and (min-width: 1280px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
            @media screen and (max-width: 640px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &.blog {

        .section-grid {
            grid-template-columns: repeat(4, 1fr);

            @media screen and (max-width: 1152px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 640px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &.upcoming{
        .section-grid{
            grid-template-columns: repeat(5, 1fr);
            gap: clamp(1rem, 2vw, 4rem);
            @media screen and (max-width: 1280px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media screen and (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (max-width: 720px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 720px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}