@import '~@fluentui/react/dist/sass/References.scss';

.singleProduct {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  text-align: left;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  };

  .selectProduct {
    text-align: center;
    vertical-align: middle;
  }

  .grid {
    @include ms-Grid;
    width: 100%;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-md6;
    @include ms-lg5;
    @include ms-xl4;
    @include ms-xlPush1;
    @include ms-lgPush1;
    white-space: nowrap;
    width: 50% !important;    
    margin-bottom: 30px;
  }

  .smallColumn {
    @extend .column;
    width: 35% !important;    
  }

  .largeColumn {
    @extend .column;
    width: 65% !important;    
  }

  .productImageWrapper {
    text-align: left;
    width: 200px;
    height: 200px;
  }

  .productImage {
    height: 200px;
    overflow-y: hidden;
    object-fit: contain;
  }

  .productText {
    font-size: 12pt;
    text-align: left;
  }

  .label {
    @extend .productText;
    padding-left: 18pt;
    font-weight: bold;
  }

  .code {
    @extend .productText;
  }

  .description {
    @extend .productText;
  }

  .price {
    @extend .productText;
  }

  .sales {
    @extend .productText;
    color: green;
  }
}
