.mediaRecorder {

  .container {
    max-width: 700px;
    background-color: #29ACFF;
    color: white;
  }
  
  .mediaRecorderSection {
    min-height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    color: white;
  }

  .mediaRecorderVideo {
    width: 100%;
    height: 100%; 
  }

  .mediaRecorderButton {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: 3.333em;
    margin-top: 1.1em;
    background-color: #333;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
      
}