@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.donutPatternsDemo {
  color:inherit;
}


:export {
  color1: #1f77b4;
  color2: #e377c2;
  color3: #ff7f0e;
  color4: #2ca02c;
  color5: #bcbd22;
  color6: #d62728;
  color7: #17becf;
  color8: #9467bd;
  color9: #7f7f7f;
  color10: #8c564b;
  color11: #3366cc;
}
