@import '~@fluentui/react/dist/sass/References.scss';

.customerSatisfaction {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  text-align: center;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .percentage {
    text-align: left;
    font-size: 18pt;
  }

  .percentageLabel {
    text-align: left;
    font-size: 10pt;
    color: grey;
    text-transform: uppercase;
  }
}
