@import '~office-ui-fabric-react/dist/sass/References.scss';

.tile {
  @include ms-Grid-col;
  // @include ms-sm6;
  // @include ms-md3;
  margin-bottom: 16px;
  display: flex;

  a {
    background-color: $ms-color-themePrimary;
    box-sizing: border-box;
    color: $ms-color-white;
    display: block;
    min-height: 123px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:hover, &:visited {
      color: $ms-color-white;
      text-decoration: none;
    }
  }

  a * {
    color: $ms-color-white;
  }

  .tileIcon {
    @include ms-fontSize-su;
    text-align: center;
  }

  .tileTitle {
    @include ms-fontSize-m;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    overflow-wrap: break-word;
  }

  .overflow {
    background-color: rgba(180, 180, 180, 0.6);
    box-sizing: border-box;
    color: white;
    height: 100%;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    transition: all 0.5s ease;
  }

  &:hover {
    .overflow {
      top: 0;
    }
  }
}
