@import '~office-ui-fabric-react/dist/sass/References.scss';

.reactDatatable {
  .dataTableUtilities{
    margin-bottom: 10px;
    margin-top: 10px;
    .downloadButtons > *{
      margin-right: 10px;
    }    
  }
  .txtSearchBox{
    min-width: 250px;
  }
  .colHeader{
    font-weight: 600;
    font-size: 12px;
  }
}
