@use '../00-base/designtoken.vars' as dt;

.people {
    display: grid;

    grid-template-columns: auto 4.5rem;
    grid-column: 1 / span 1;
    height: 100%;

    backdrop-filter: saturate(100%);

    @media screen and (max-width:1024px) {
        aspect-ratio: auto;
        height: 100%
    }

    .card-header {

        h1 {
            display: flex;

            gap: 1rem;
        }

        .profile-title {
            font-size: 0.8em;
        }
    }

    .card-main {
        overflow: hidden;
        overflow: clip;
        ;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;

        grid-column: 1 / span 1;
        grid-row: 1;

        justify-content: center;

        backdrop-filter: blur(10px);

        @media screen and (max-width: 720px) {
            padding: 1.5em;
            justify-content: flex-start;
        }

    }

    .card-side {
        overflow: clip;
        border: 1px solid white;
        border-radius: 0 1rem 1rem 0;

        grid-column: 2;

        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.35));

        &::before {
            display: none;
        }

        &::after {
            position: absolute;
            top: 25%;
            right: 6px;
            bottom: 25%;

            overflow: clip;
            width: 4px;
            height: 50%;
            border-radius: 2px;

            background-color: dt.$blue;

            content: " ";
        }

    }

    .card-iconbar {
        margin-right: calc(1.25rem + 2px);
        margin-left: calc(1.25rem - 2px);
        gap: 0.65em;
    }

}

.profile-name {
    @media screen and (max-width: 640px) {
        text-align: center;
    }
}

.profile-data {
    display: flex;

    gap: 1.5rem;

    h1 {
        margin-top: 0;
        margin-bottom: 0;

        font-size: clamp(1rem, 1.618vw, 1.75rem);
        line-height: 1;

        color: dt.$dark-blue;
    }

    @media screen and (max-width:1020px) {
        flex-direction: column;

        h1 {
            display: inline-block;
        }
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: clamp(1rem, 3.5vw, 2rem);
        }
    }
}

.profile-mvp {
    font-size: clamp(1rem, 0.75vw, 1.25rem);
    margin-block: 0.5em;
    @media screen and (max-width: 640px) {
        font-size: clamp(1rem, 3.5vw, 1.8rem);
    }
}

.profile-company {
    margin-top: .75em;

    font-size: clamp(1rem, 1vw, 1.5rem);

    @media screen and (max-width: 640px) {
        font-size: clamp(1rem, 3.5vw, 2rem);
    }
}

.profile-picture {
    width: clamp(4rem, 7vw, 125px);
    height: clamp(4rem, 7vw, 125px);
    border: 2px white solid;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;

    @media screen and (max-width: 1024px) {
        width: clamp(4rem, 20vw, 125px);
        height: clamp(4rem, 20vw, 125px);
        margin: auto;
    }

    @media screen and (max-width: 640px) {
        width: clamp(4rem, 35vw, 400px);
        height: clamp(4rem, 35vw, 400px);
        margin: auto;
    }

}

.teams-header {
    box-sizing: border-box;
    padding: 1.75em 2em;
    border-radius: 1em;

    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

    backdrop-filter: blur(10px) saturate(300%);
    background-color: rgba(255, 255, 255, 0.9);

    @media screen and (min-width: 1280px) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    @media screen and (max-width: 720px) {
        grid-column: 1 / span 2;
        ;
        grid-row: 1 / span 2;
        ;
    }

    @media screen and (max-width: 640px) {
        grid-column: 1 / span 1;
    }

    h1 {
        margin-top: 0;

        font-size: clamp(1.5rem, 1.75vw, 3rem);
        line-height: 1.1;

        color: dt.$dark-blue;
        ;
    }

    p {
        font-size: clamp(1rem, 1vw, 1.5rem);
    }
}

.teams-end {
    display: flex;
    padding-inline: 1em;
    border-radius: 1rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 700;
    text-transform: uppercase;

    background-color: rgba(255, 255, 255, 0.9);
    color: dt.$dark-blue;
    color: dt.$blue;

    just-content: space-around;

    p {
        padding: 0;
        margin: .5em;
    }
}

.calltoaction{
    @extend .teams-end;
}