@use '../00-base/designtoken.vars' as dt;

.card.upcoming {
    grid-template-columns: 1fr;
    aspect-ratio: unset;
    height: auto;
}

.upcoming-content {
    box-sizing: border-box;
    padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 1vw, 2rem);
    padding-bottom: 1vw;
    background-color: rgba(255, 255, 255, 0.75);
    filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, .5));
}

.upcoming-list {
    display: grid;
    list-style-type: none;
    padding: 1em 0 0.5em;
    margin: 0;
    gap: 0.5em;

    .event-details {
        border-bottom: 1px dt.$blue solid;
        padding-block: 0.75em;
    }

    li:last-of-type {
        .event-details {
            border-bottom: none;
        }
    }
}