.page-header{
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;

    .nav{
        z-index: 999;

        grid-column: 2 / span 5;

        @media screen and (max-width: 1024px) {
            grid-column: 4 / span 2;
        }
    }
}

.nav{
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}