@import "~office-ui-fabric-react/dist/sass/References.scss";
@import '../../../common/Global.dark.module.scss';
@import '../../../common/Global.default.module.scss';
@import '../../../common/Global.contrast.module.scss';
@import "../../../common/colors.module";

.questionnaireMeetingApp {
  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
  }

  .subTitle {
    @include ms-font-l;
  }

  .description {
    @include ms-font-l;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $default-questionnaireMeetingApp-background;
    border-color: $default-questionnaireMeetingApp-background;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

[data-theme='default'] {
	.questionnaireMeetingApp {
		background: $default-questionnaireMeetingApp-background;
		color: $default-questionnaireMeetingApp-color;

		.button {
			background: $default-questionnaireMeetingAppButton-background;
			color: $default-questionnaireMeetingAppButton-color;
		}
	}
}

[data-theme='dark'] {
	.questionnaireMeetingApp {
		background: $dark-questionnaireMeetingApp-background;
		color: $dark-questionnaireMeetingApp-color;

		.button {
			background: $dark-questionnaireMeetingAppButton-background;
			color: $dark-questionnaireMeetingAppButton-color;
		}
	}
}

[data-theme='contrast'] {
	.questionnaireMeetingApp {
		background: $contrast-questionnaireMeetingApp-background;
		color: $contrast-questionnaireMeetingApp-color;

		.button {
			background: $contrast-questionnaireMeetingAppButton-background;
			color: $contrast-questionnaireMeetingAppButton-color;
		}
	}
}