
.react-3d-carousel {
    width: 400px;
    height: 300px;
    position: relative;
    perspective: 1000px;
}

.react-3d-carousel .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.react-3d-carousel .carousel  figure {
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.react-3d-carousel .carousel figure {
    background: hsla( 160, 100%, 50%, 0.8);
}