//@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.passwordVault {
    display: block;
}

:global {
  
.spfxappdev-grid {
  box-sizing: border-box;
  zoom: 1;
  padding: 0 8px;

  &::before,
  &::after {
      display: table;
      content: '';
      line-height: 0;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
  }

  &::after {
      clear: both;
  }

  &-row {
      margin: 0 -8px;
      box-sizing: border-box;
      zoom: 1;

      &::before,
      &::after {
          display: table;
          content: '';
          line-height: 0;
          -webkit-box-sizing: inherit;
          box-sizing: inherit;
      }

      &::after {
          clear: both;
      }
      
  }

  &-col {
      position: relative;
      min-height: 1px;
      // padding-left: 8px;
      // padding-right: 8px;
      box-sizing: border-box;
      float: left;
  }
}

.spfxappdev-sm1 {
    width: 8.33%
}

.spfxappdev-sm2 {
    width: 16.66%;
}

.spfxappdev-sm3 {
    width: 25%;
}

.spfxappdev-sm4 {
    width: 33.33%;
}

.spfxappdev-sm5 {
    width: 41.66%;
}

.spfxappdev-sm6 {
    width: 50%;
}

.spfxappdev-sm7 {
    width: 58.33%;
}

.spfxappdev-sm8 {
    width: 66.66%;
}

.spfxappdev-sm9 {
    width:75%;
}

.spfxappdev-sm10 {
    width: 83.33%;
}

.spfxappdev-sm11 {
    width: 91.66%;
}

.spfxappdev-sm12 {
    width: 100%;
}

.spfxappdev-grid-col .ms-TextField-suffix {
  cursor: pointer;
  background-color: #fff;
  color: $ms-color-themePrimary;

  &:hover {
    background-color: $ms-color-neutralLighter;
  }
}

.spfxappdev-grid-col .ms-TextField-reveal.ms-Button {
  cursor: pointer;
}

.spfxappdev-grid-col .quill {
  border: solid 1px #000;
}

.grid-footer {
  margin-top: 10px;

  button {
    margin-right: 15px;
  }
}

}
