// @import '~@fluentui/react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.passwordVault {
    display: block;


    .separator-container {
        display: flex;
        justify-content: center;
        margin: 4px 0;
        width: 100%;

        .separator {
            &::before {
                height: 3px;
            }   
        }

        button {
            max-width: calc(100% - 8px);
            width: 100%;
            opacity: 0;

            background: transparent;
            border: none;
            cursor: pointer;
            height: 24px;
            outline: none;
            padding: 0;
            position: relative;
            user-select: none;

            &::before {
                border-top-style: solid;
                border-top-width: 2px;
                border-top-color: $ms-color-neutralTertiary;
                content: "";
                height: 0;
                position: absolute;
                top: 50%;
                left: 0;
                transition: opacity .3s ease-in-out;
                width: 100%;
            }

            :global {

                .ms-TooltipHost {
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $ms-color-neutralTertiary;
                    box-sizing: border-box;
                    height: 24px;
                    line-height: 12px;
                    margin: 0 auto;
                    padding: 4px;
                    position: relative;
                    transition: opacity .3s ease-in-out;
                    width: 24px;
                    background-color: $ms-color-neutralTertiary;
                    display: block;


                    i {
                        vertical-align: middle;
                        color: #fff;
                    }
                }
            }
        }

        &:hover, &.active-separator {
            button {
                opacity: 1;
            }
        }

        button:focus {
            opacity: 1;
        }
    }

    .edit-container {
        border: dotted 1px $ms-color-themePrimary;

        &--header {
            background-color: $ms-color-neutralLighter;

            .delete-btn {
                float: right;
            }

            button:disabled,
            button[disabled] {
                cursor: not-allowed;

                i {
                    color: $ms-color-neutralTertiaryAlt;
                }
            }
        }

        &--content {
            padding: 10px;
        }
    }

    :global {
        .ms-CommandBar {
            padding: 0 0 10px;
        }
    }
}

:global {

    .ql-editor
    {
        padding: 8px 0 0 !important;
    }

    .ql-editor[contenteditable='true'] {
        padding: 8px 10px !important;
    }
 
.addnew-callout {
    display: block;
    min-height: 200px;

    .ms-Callout-main {
        min-height: 200px;
        padding-top: 40px;

    }

    .ms-Button--action {
        margin: 10px;
        span {
        display: block;

            & i {
                font-size: 32px;
            }
        }
    }
}
.spfxappdev-grid {
  box-sizing: border-box;
  zoom: 1;
  padding: 0 8px;

  &::before,
  &::after {
      display: table;
      content: '';
      line-height: 0;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
  }

  &::after {
      clear: both;
  }

  &-row {
      margin: 0 -8px;
      box-sizing: border-box;
      zoom: 1;

      &::before,
      &::after {
          display: table;
          content: '';
          line-height: 0;
          -webkit-box-sizing: inherit;
          box-sizing: inherit;
      }

      &::after {
          clear: both;
      }
      
  }

  &-col {
      position: relative;
      min-height: 1px;
      // padding-left: 8px;
      // padding-right: 8px;
      box-sizing: border-box;
      float: left;
  }
}

.spfxappdev-sm1 {
    width: 8.33%
}

.spfxappdev-sm2 {
    width: 16.66%;
}

.spfxappdev-sm3 {
    width: 25%;
}

.spfxappdev-sm4 {
    width: 33.33%;
}

.spfxappdev-sm5 {
    width: 41.66%;
}

.spfxappdev-sm6 {
    width: 50%;
}

.spfxappdev-sm7 {
    width: 58.33%;
}

.spfxappdev-sm8 {
    width: 66.66%;
}

.spfxappdev-sm9 {
    width:75%;
}

.spfxappdev-sm10 {
    width: 83.33%;
}

.spfxappdev-sm11 {
    width: 91.66%;
}

.spfxappdev-sm12 {
    width: 100%;
}

.spfxappdev-grid-col .ms-TextField-suffix {
  cursor: pointer;
  background-color: #fff;
  color: $ms-color-themePrimary;

  &:hover {
    background-color: $ms-color-neutralLighter;
  }
}

.spfxappdev-grid-col .ms-TextField-reveal.ms-Button {
  cursor: pointer;
}

.spfxappdev-grid-col .quill {
  border: solid 1px #000;
}

.grid-footer {
  margin-top: 10px;

  button {
    margin-right: 15px;
  }
}

.clipboard-callout {
    margin-left: 20px;
    padding: 10px;
    background: $ms-color-themePrimary;

    .ms-Callout-main {
        background: $ms-color-themePrimary;
    }
}

}
