//@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import '~office-ui-fabric-react/dist/sass/References.scss';

.chartTitle {
  font-size: 14px;
  font-weight: 100;
  // margin-bottom: 0;
  color: $ms-color-neutralPrimary;
  text-align: center;

  @media (min-width: 320px) {
    font-size: 21px;
  }

  @media (min-width: 480px) {
    font-size: 24px;
  }

  // Edit mode
  textarea {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 36px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    overflow: hidden;
    resize: none;
    text-align: inherit;
    white-space: pre;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  textarea::-webkit-input-placeholder {
    color:$ms-color-neutralTertiaryAlt;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
    color:$ms-color-neutralTertiaryAlt;
    }

    textarea::-moz-placeholder {  /* Firefox 19+ */
    color:$ms-color-neutralTertiaryAlt;
    }

    textarea:-ms-input-placeholder {
    color:$ms-color-neutralTertiaryAlt;
    }

  // View mode
  span {
    color: inherit;
  }
}
