@import "~office-ui-fabric-react/dist/sass/References.scss";

.userAndGroupInfo {
  .container {
    max-width: 800px;
    padding: 10px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .UserSelection {
      .TenantUserPicker {
        width: 200px;
      }
      .SiteUserPicker {
        .SiteUserList {
          .SiteUser .Active {
            background-color: gray;
          }
        }
      }
    }
  }
}
