{% extends "base.html" %}

{% block content %}

{% if not "\x3ch1" in page.content %}
<div class="content-header">
  <h1>{{ page.meta.title | d(config.site_name, true)}}</h1>
</div>
{% endif %}

<section class="intro-section">
  {{ page.content }}
</section>

<section class="filter-section">
  <h2 class="sub-heading">Samples</h2>
  <div class="search-input-wrapper float-l" aria-hidden="true">
    <div class="icon-container">
      &nbsp;
    </div>
    <input id="post-search-input" class="search-input" placeholder="Search samples">
  </div>

  <!-- <div id="post-tags-filter-btn" class="primary-btn dark float-r">Filter by tags
    <p id="post-tags-filter-count" class="tag-number">0</p>
  </div> 
-->


  <div id="filters" class="sample-list filter-list float-r">
    <div id="post-sample-filter-all" class="sampletype-item filter-choice active" data-filter="*"
      title="SharePoint Online">
      All</div>
      <div id="post-sample-filter-2019" class="sampletype-item filter-choice" data-filter="[data-sp2019='true']"
      title="SharePoint 2019">2019</div>
    <div id="post-sample-filter-2016" class="sampletype-item filter-choice" data-filter="[data-sp2016='true']"
      title="SharePoint 2016">2016</div>
    <div id="post-sample-filter-teams" class="sampletype-item filter-choice teams" data-filter="[data-teams='true']"
      title="Teams"></div>
    <div id="post-sample-filter-outlook" class="sampletype-item filter-choice outlook"
      data-filter="[data-outlook='true']" title="Outlook"></div>
  </div>

  <div class="well">
    <div class="button-group filters-button-group">
      {% for filter in page.meta.filters %}
      <button class="button" data-filter="[data-tag='{{ filter.value }}']">{{ filter.name }}</button>
      {% endfor %}
    </div>
  </div>

  <div class="grid" id="sample-listing" data-filter={{page.meta.filter}}>
    <div class="grid-sizer"></div>
  </div>

  <div id="noresults">
    No results found.
  </div>
  
</section>

<!-- Last update of source file -->
{% if page and page.meta %}
{% if page.meta.git_revision_date_localized or
page.meta.revision_date
%}
{% include "partials/source-date.html" %}
{% endif %}
{% endif %}
{% endblock %}