@import '~office-ui-fabric-react/dist/sass/References.scss';

  .Center {
    padding: 3px 1px 0px;
    margin-left: 26px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid white;
    max-width: 113px;
    word-break: break-word;
  }
  .SwitchGroups{
    position:absolute;
    bottom:6px;
    right:6px;
    font-size:16px;
    background-color: transparent;
    border: none;
    cursor:pointer;
    color:white;
  }
  .SwitchGroups:hover{
    text-decoration: underline;
  }
  .NavButton { 
    padding: 8px;
    background-color: "[theme: themePrimary, default: #0078d7]";
    color: white;
    border: none;
  }
  .DisButton {
    padding: 8px;
    color: white;
    border: none;
    background-color: "[theme: themeLight, default: #0078d7]";
  }
  .headerStyle{
   background-color: "[theme: themePrimary, default: #0078d7]";
    display:  table-row ;
    border:  solid ;
    text-align :  center ;
    width :  100px ;
    height :  30px ;
    padding-top :  10px ;
    color :  white ;
  }
  .tableStyle{ 
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .panelStyle{
    background:  lightblue ;
  }
  .tableCaptionStyle{
    background-color: "[theme: themePrimary, default: #0078d7]";
    font-size: 20px ;
    font-weight: bold ;
    border: none;
    text-align:center ;
    height:79px;
    padding-top:9px;
    color:white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-weight:normal;
  }
  .rowStyle{
    display: table-row;
    background:  #eee;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
  }
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }
  .CellStyle{ 
    display: table-cell;
    border: solid;
    border-color: white;
    text-align: center;
    min-width: 75px;
    height: 30px;
    width: fit-content;
    padding-top: 10px;         
  }
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }
  .Container {
    text-align: center;
    vertical-align: middle;
    height:100%
  }
  .CenterRight {
    border-right:none;
    padding: 5px 10px 3px;
    margin-left: 26px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      max-width: 113px;
      word-break: break-word;
  }
  .ToolTipName {
    position: relative;
      padding-bottom: 0px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 8px 13px 8px;
      border-bottom: 2px solid white;
      max-width: 132px;
      word-break: break-word;
  }
  .ToolTip {
    visibility: hidden;
    padding: 7px;
      background-color: $ms-color-themeDark;
      color: #fff;
      text-align: center;
      position: absolute;
      z-index: 1;
      bottom: 86%;
      right: 0%;
      left: 0%;
      padding-left: 7px;
      padding-right: 7px;
  }
  .ToolTipName:hover .ToolTip {
    visibility: visible;
    padding: 5px 0px 5px 0px;
    background-color: "[theme: themeLight, default: #0078d7]";
  }
  .MainViewCenter {
        width: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-right: 13px;
        padding-left: 13px;
        cursor:pointer;
        border: none;
        color: white;
        
  }
  .MainViewCenter :hover{
    text-decoration: underline;
  }
  .Filters {
      cursor: pointer;
      background-color: "[theme: themePrimary, default: #0078d7]";
      color: #fff;
      border: none;
      margin-right: 4px;
      margin-top: 9px;
      padding: 4px;
  }
  .Filters:focus {
    outline: none;
  }
  .SelectedFilter { 
    cursor: pointer;
    background-color: "[theme: themeDark, default: #0078d7]";
    color: #fff;
    border: none;
    margin-right: 4px;
    margin-top: 9px;
    padding: 4px;
  }
  .SelectedFilter:focus{
    outline:none;
  }