.previewContainer {
    
    &.videoPreview {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    &.documentPreview {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }    

    .closeBtn {

        padding-right: 10px;
        padding-top: 10px;
        text-align: right;

        &:hover {
            cursor: pointer;
        }
    }
}

.hoverIcon {
    color: '[theme:themeDarker, default:#0078d7]';
}