.previewContainer {
    
    &.videoPreview {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    &.documentPreview {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }    

    .closeBtn {

        padding-right: 10px;
        padding-top: 10px;
        text-align: right;

        &:hover {
            cursor: pointer;
        }
    }
}

.hoverIcon {
    color: '[theme:themeDarker, default:#0078d7]';
}

.tags {

    margin-top: 5px;
    display: flex;
    align-items: center;

    * + * {
        margin-left: 3px;
    }

    a, a:visited, a:focus, a:link, a:active {
        color: '[theme:themePrimary, default:#0078d7]';
    }

    a:not(:empty):after {
        content: ",";
        display: inline-block;
    }

    a:not(:empty):last-child:after {
        content: "";
    }
}