@import '~office-ui-fabric-react/dist/sass/References.scss';

.newsGlanceSmall {

  .container {
    height: auto;
  }

  .carouselItem {
    background-color: $ms-color-themeDark;
    min-height: 150px;
    height: 98%;
  }

  .carouselDotList {
    position: relative;
    margin-top: 10px;
  }
  
}