@import '~office-ui-fabric-react/dist/sass/References.scss';

.exportToPdf {
  .btnPDF {
    background-color: "[theme:themePrimary, default:#0078d7]";
    border-color: "[theme: themePrimary, default: #0078d7]";
    color: "[theme:white, default:white]" 
  }
}
