@import '~@fluentui/react/dist/sass/References.scss';

// Define CSS variables for theming
:root {
  --font-size-large: 24px;
  --padding-large: 20px;
  --primary-color: #ff69b4;
  --secondary-color: #fff;
  --success-color: #d4edda; // Light green background for success messages
}

// Define Sass variables for color manipulation
$primary-color: #ff69b4;

.button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  margin-top: 10px;
  transition: background-color 0.3s, filter 0.3s; // Smooth transition for hover effect

  &:hover {
    background-color: darken($primary-color, 20%); // 20% darker than hot-pink
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.dismissIcon {
  color: #ff69b4; /* Primary color */
}

.dropdown {
  margin-bottom: 20px;
  width: 500px; // Set absolute width
}

.modalBody {
  background-color: #ffffff;
  padding: 20px;
}

.modalContainer {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 20px;
  width: 400px;
}

.modalHeader {
  align-items: center;
  background-color: #f3f2f1;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.previewContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.svgContent {
  height: 100% !important; /* Ensure the SVG stays within the container */
  max-height: 96px !important; /* Ensure the SVG stays within the container */
  max-width: 96px !important; /* Ensure the SVG stays within the container */
  object-fit: contain !important; /* Contain the SVG within the container */
  width: 100% !important; /* Ensure the SVG stays within the container */
}

.svgPreview {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  width: 150px; // Adjusted width to make it smaller
  max-height: 150px; // Adjusted height to make it smaller
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgPreview svg {
  width: 100%;
  height: 100%;
  max-width: 100%; // Ensure SVGs have the same size
  max-height: 100%; // Ensure SVGs have the same size
}

.svgToJson {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: var(--padding-large);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }

  .ms-TextField {
    width: 500px; // Set absolute width
  }

  .dropdown {
    margin-bottom: 20px;
    width: 500px; // Set absolute width
  }
}

.toggle {
  .ms-Toggle-background {
    background-color: #ff69b4 !important; /* Hot pink background */
  }
  .ms-Toggle-thumb {
    background-color: white !important; /* White circle */
  }
}

.toggleContainer {
  align-items: center;
  display: flex;
  margin-top: 10px;
  visibility: hidden; /* Initially hidden */
}

.toggleContainer.visible {
  visibility: visible; /* Make visible when needed */
}

