@import "~@fluentui/react/dist/sass/References.scss";

.article {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.imageWrapper {
  width: 238px;
  height: 160px;
}
.avatar {
  display: flex;
  gap: 0.5rem;
}
.author {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.commentArea {
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
}
.reactions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.newCommentContainer {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}
.likeContainer {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 0px 10px 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}
.postLikeContainer{
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 0px 10px 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}
.previewImageWrapper{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 180px;
}
.imageContainer{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}