@import '../common.module';

@mixin eventDayView-font() {
    color: black;
    @include ms-fontSize-12;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.root {
    position: relative;

    .title {
        @include ms-fontWeight-semibold;
        padding-bottom: 2px;

        @include lg-up {
            @include ms-fontSize-18;
        }

        @include md-down {
            @include ms-fontSize-16;
        }

        &.unapproved {
            font-style: italic;
        }

        &.rejected {
            text-decoration: line-through;
        }
    }
    .textDayView {
        @include eventDayView-font();
        text-overflow: ellipsis;
        display: block;
    }
   
}

