@import '~@fluentui/react/dist/sass/References.scss';

.chatStreaming {
  overflow: hidden;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  min-height: 100%;
  gap: 20px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .messagesContainer {
    min-height: 200px;
    height: 100%;
    position: relative;
  }
}

.messagesList {
  background-color: "[theme:neutralLighter, default: #f3f2f1]";
  min-height: 400px;
  border-radius: 8px;

  .scrollablePane {
    
    :global {
      .ms-ScrollablePane--contentContainer {
        padding: 8px;
      }
    }

  }
}

.userQuestion {
  padding-bottom: 8px;
  gap: 12px;

  .avatar {
    --person-avatar-size: 32px;
    margin-top: 8px;
  }

  .beak {
    right: -15px;
    border-left: 15px solid "[theme:white, default: #ffffff]";
    margin-right: 5px;
  }
}

.assistantResponse {
  padding-bottom: 8px;
  gap: 12px;

  .avatar {
    margin-top: 8px;
    background-color: "[theme:white, default: #ffffff]";
    color: "[theme:neutralPrimary, default: #323130]";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .beak {
    left: -15px;
    border-right: 15px solid "[theme:white, default: #ffffff]";
    margin-left: 5px;
  }
}

.messageBox {
  position: relative;
  border-radius: 8px;
  padding: 0 12px;
  background-color: "[theme:white, default: #ffffff]";
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 85%;
  min-width: 350px;

  .message {
    min-width: 100px;
  }

  .beak {
    content: "";
    position: absolute;
    top: 9px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.userMessage {
  gap: 5px;
}