@import '~@fluentui/react/dist/sass/References.scss';

.m365PlannerTimeline {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.webPartTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 11px;
  cursor: text;
  display: inline;
  line-height: 28px;
}