@import '~office-ui-fabric-react/dist/sass/References.scss';

.tenantProperties {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .webparttitle{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .messageError{
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 25px;
    color: red;
  }

  [disabled].itemLink{
    color: #c8c8c8 !important;
  }
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
}
