@import "~office-ui-fabric-react/dist/sass/References.scss";

.spSecurity {
}
.themecolor {
  color: $ms-color-themeDarkAlt;
}

.nonbrandeddocumentcolor {
  color: "#00FF00";
}

//*Set the Header are to 140px so it can hold the rotated headers
.SPFXSecurityGrid {
  :global(.ms-DetailsHeader) {
    //* when adjusting line hieight also need to adjust second parameter to transform:translate below
    height: 140px;
    white-space: nowrap;
  }

  :global(.ms-DetailsHeader-cell) {
    vertical-align: bottom;

    span {
      overflow: visible;
    }
  }

  :global(.ms-DetailsHeader-cellTitle) {
    margin-top:-8px;
  }

  //*Set the wrappers around the headers to display at 45degree angles
  .rotatedColumnHeader {
    transform: translate(25px, 40px) /*/Change second parameter when adjusting line height*/ rotate(315deg);
    padding-bottom: 90px;
    width: 40px !important;
  }

  .itemTitle {
    cursor: pointer;
  }

  :global(.ms-List-cell):nth-child(even) :global(.ms-DetailsRow) {
    background: '[theme:neutralLight, default: #eaeaea]';

    &:hover {
      background: '[theme:neutralLighter, default: #f4f4f4]';
    }
  }
}
