@import 'node_modules/office-ui-fabric-react/dist/sass/Fabric.scss';
//*Set the Header are to 140px so it can hold the rotated headers
.SPFXSecurityGrid .ms-DetailsHeader { //* when adjusting line hieight also need to adjust second parameter to transform:translate below
    height: 140px;
    white-space: nowrap;
}
//*Set the wrappers around the headers to display at 45degree angles
.ms-DetailsHeader-cell.rotatedColumnHeader{
    transform:  translate(25px,40px ) //*Change second parameter when adjusting line height
    rotate(315deg);
    padding-bottom: 90px;
    width: 36px !important;
   
    
}
.ms-DetailsHeader-cell{
    vertical-align: bottom;  
}
.ms-DetailsHeader-cell span  {
    overflow: visible;
 }
 .ms-List-cell:nth-child(even) .ms-DetailsRow {
    background: #EEE;
  }
