@import '~office-ui-fabric-react/dist/sass/References.scss';

.documents {

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    padding: 20px;
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: "[theme:themePrimary, default:#0078d7]";
    border-color: "[theme:themePrimary, default:#0078d7]";
    color: #ffffff;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: 600;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  
}

.notification{
  text-align: center;
  padding: 50px;
}
.notificationIcon{
 font-size: 20px;
 margin-right: 10px;
}
.notificationHeader
{
  font-size: 20px;
}
.notificationDescription
{
  font-size: 18px;
  margin-top: 20px;
}

.loadingWrapper
{
    padding-top: 80px;
    padding-bottom: 80px;
}
.topBar
{
  border-top:  1px solid #eaeaea;
  height: 40px;
  background-color: #f4f4f4;
}
.topBarText
{
    position: relative;
    top:7px;
    left:20px;
}
.topBarFilters
{
    text-align: right;
    position: relative;
    bottom: 8px;
    right: 30px;
    font-size: 16px;
}
.calloutHeader {
    padding: 18px 24px 12px;
}
.resetFilter
{
    margin-right: 20px;
    cursor: pointer;
}
.docsWrapper{
    overflow-y: auto;
  }

.iframeWrapper
{
    width: 95%;
    height: 0px;
}