@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.realDataSample {
  color: inherit;
}

:export {
  vesaChromatic1: #ffa500;
  vesaChromatic2: #ffae19;
  vesaChromatic3: #ffb732;
  vesaChromatic4: #ffc04c;
  vesaChromatic5: #ffc966;
  vesaChromatic6: #ffd27f;
  vesaChromatic7: #ffdb99;
  vesaChromatic8: #ffe4b2;
  vesaChromatic9: #ffedcc;
  vesaChromatic10: #fff6e5;
}
