@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.year {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  .month {
    margin: 5px 10px 15px 10px;

    .monthName {
      color: $ms-color-themePrimary;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .day {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: dotted 1px;
      border-radius: 50%;
      transform: scale(0.9, 0.9);
    }

    .date {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      border: none;
      outline: none;

      &.inMonth {
        &:hover {
          cursor: pointer;
          background: $ms-color-themePrimary;
          color: white;
          font-weight: bold;
        }
      }

      &.today {
        background: $ms-color-themePrimary;
        color: white;
      }

      .date.prevMonth,
      .date.nextMonth {
        color: grey;
      }
    }
  }
}
