@import '~office-ui-fabric-react/dist/sass/References.scss';
.visioSample {
    /* layout */
    display: flex;
    height: 600px;
    .iframeHost {
        flex: 3;
    }
    .detailsPanel {
        flex: 1;
        padding: 20px;
    }
}
