name: Tally Reactions

on:
  workflow_dispatch:
  schedule:
    # 11:00 & 23:00 UTC (~6am/6pm Toronto in winter)
    - cron: "0 11,23 * * *"  
jobs:
  Tally-Reactions:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      discussions: read
    
    steps:
      - name: Checkout Docs branch
        uses: actions/checkout@v4
        with:
          ref: Docs
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
          persist-credentials: true

      - name: Tally discussion reactions
        id: reactions
        uses: ./.github/actions/tally-reactions

      - name: Save tally results to file
        run: |
          mkdir -p docs/data
          echo '${{ steps.reactions.outputs.result }}' > docs/data/likes.json
          cat docs/data/likes.json
      
      - name: Commit and push results to Docs
        run: |
          # Stage the generated file (use -f if you discover it's ignored)
          git add -A docs/data/likes.json
          
          if git diff --cached --quiet --exit-code; then
            echo "ℹ️ No changes to commit"
          else
            git commit -m "chore: update discussion reaction tallies [skip ci]"
            git push origin Docs
            echo "✅ Changes committed and pushed"
          fi

          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "chore: update likes.json"
          git push origin Docs
