<link rel="stylesheet" href="/vendor/pnp-samples-gallery/pnp-samples-gallery.css"/>
<script>
    // Minimal shim for browser bundles expecting Node's `process`
    window.process = window.process || { env: { NODE_ENV: "production" } };
</script>
<section class="hero-main" id="hero">
    <div class="hero-main-inner">
        <div class="logo-big">
            <span class="">{{ .Title }}</span>
        </div>

        <div class="tagline">
            {{if .Content }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
</section>
<section class="section-base samples" id="{{ .File.BaseFileName | safeHTML }}">
<div class="section-inner">
    <div data-pnp-samples-gallery
        data-src="/sp-dev-fx-webparts/data/all-samples.json">
    </div>
</div>
</section>





<script src="/vendor/pnp-samples-gallery/pnp-samples-gallery.js?cb={{ now.Unix }}"></script>