@import "~office-ui-fabric-react/dist/sass/References.scss";

// colors
$themePrimary: "[theme: themePrimary, default: #0078d7]";
$themeLighterAlt: "[theme: themeLighterAlt, default: #eff6fc]";
$themeLighter: "[theme: themeLighter, default: #deecf9]";
$themeLight: "[theme: themeLight, default: #c7e0f4]";
$themeTertiary: "[theme: themeTertiary, default: #71afe5]";
$themeSecondary: "[theme: themeSecondary, default: #2b88d8]";
$themeDarkAlt: "[theme: themeDarkAlt, default: #106ebe]";
$themeDark: "[theme: themeDark, default: #005a9e]";
$themeDarker: "[theme: themeDarker, default: #004578]";
$neutralLighterAlt: "[theme: neutralLighterAlt, default: #f8f8f8]";
$neutralLighter: "[theme: neutralLighter, default: #f4f4f4]";
$neutralLight: "[theme: neutralLight, default: #eaeaea]";
$neutralQuaternaryAlt: "[theme: neutralQuaternaryAlt, default: #dadada]";
$neutralQuaternary: "[theme: neutralQuaternary, default: #d0d0d0]";
$neutralTertiaryAlt: "[theme: neutralTertiaryAlt, default: #c8c8c8]";
$neutralTertiary: "[theme: neutralTertiary, default: #a6a6a6]";
$neutralSecondaryAlt: "[theme: neutralSecondaryAlt, default: #767676]";
$neutralSecondary: "[theme: neutralSecondary, default: #666666]";
$neutralPrimaryAlt: "[theme: neutralPrimaryAlt, default: #3c3c3c]";
$neutralPrimary: "[theme: neutralPrimary, default: #333]";
$neutralDark: "[theme: neutralDark, default: #212121]";
$black: "[theme: black, default: #000000]";
$white: "[theme: white, default: #fff]";
$primaryBackground: "[theme: primaryBackground, default: #fff]";
$primaryText: "[theme: primaryText, default: #333]";